bleach==2.1.3
certifi==2022.12.7
chardet==3.0.4
dj-static==0.0.6
Django==1.10
django-autoslug-iplweb==1.9.4.dev0
django-fobi==0.13.2
django-formtools==2.1
django-nine==0.1.13
django-nonefield==0.2
easy-thumbnails==2.5
gunicorn==19.8.1
html5lib==1.0.1
idna==2.6
Pillow==5.1.0
requests==2.18.4
simplejson==3.14.0
six==1.11.0
static3==0.7.0
Unidecode==1.0.22
urllib3==1.22
vishap==0.1.5
webencodings==0.5.1
whitenoise==3.3.1
django-recaptcha
channels==1.1.8
asgi_redis
https://github.com/zakird/pyad/archive/master.zip
service_identity
dj-database-url==0.4.2
python-decouple
psycopg2
xhtml2pdf