appdirs==1.4.0
colorama==0.3.7
coverage==4.3.4
Django==1.10
django-crispy-forms==1.7.2
MarkupSafe==0.23
packaging==16.8
py==1.4.32
pyflakes==1.5.0
pyparsing==2.1.10
pytest==3.0.6
python-dateutil==2.6.0
pytz==2018.3
pywin32
requests==2.12.5
simplejson==3.10.0
six==1.10.0
virtualenv==15.1.0
