{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

     <title>ApproApp</title>
<!-- 
Hydro Template 
http://www.templatemo.com/tm-509-hydro
-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static "core/css/bootstrap.min.css" %}">
     <link rel="stylesheet" href="{% static "core/css/magnific-popup.css" %}">
     <link rel="stylesheet" href="{% static "core/css/font-awesome.min.css" %}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static "core/css/templatemo-style.css" %}">
     <link rel="shortcut icon" href="{% static "core/images/logo.ico" %}" />
</head>
<body>

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="/" class="navbar-brand">ApproApp</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="/" class="smoothScroll">Home</a></li>
                         <li><a href="/" class="smoothScroll">About</a></li>
                         <li><a href="/" class="smoothScroll">Blog</a></li>
                         <li><a href="/" class="smoothScroll">Our Work</a></li>
                         <li><a href="/" class="smoothScroll">Contacts</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="https://fb.com/theapproapp"><i class="fa fa-facebook-square"></i></a></li>
                         <li><a href="https://twitter.com/theapproapp"><i class="fa fa-twitter"></i></a></li>
                         <li><a href="https://www.linkedin.com/company/approapp1"><i class="fa fa-linkedin"></i></a></li>
                         <li class="section-btn"><a href="/login" >Sign in / Join</a></li>
                    </ul>
               </div>

          </div>
     </section>


     <!-- BLOG HEADER -->
     <section id="blog-header" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-5 col-sm-12">
                         <h2>What are `Digital Signatures’ and How do they work?</h2>
                    </div>
                    
               </div>
          </div>
     </section>


     <!-- BLOG DETAIL -->
     <section id="blog-detail" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <!-- BLOG THUMB -->
                         <div class="blog-detail-thumb">
                              <div class="blog-image">
                                   <img src="{% static "core/images/blog3.jpg" %}" class="img-responsive" alt="Blog Image">
                              </div>
                              <h2>ApproApp Digitalising India</h2>
                              <p>We all hear about digital signatures and how it is changing the system of working. Let us today dive in the world of digital signatures and take a look on how digital signatures are changing the way of working and what benefits it brings to us.
To understand why more and more people are being attracted towards digital signatures, let us understand about digital signatures from the very core.</p>

                              <blockquote>What is a Digital Signature?</blockquote>

                              <p>The Certificate Authority (CA) are trusted bodies that can issue digital certificates.</p>

                              <div class="blog-ads">
                                   <h4>Blog Sample Advertising</h4>
                              </div>
                              
                              <p>Each day, we are transferring a step beforehand in the direction of new technology. The digital documents are also now of upmost significance and need to be authenticated as properly. Much like our files are secured with a signature, our e-documents or digital documents are secured with digital signatures.
Digital signature is an idea that has come to apply currently. Digital signature is a kind of electronic signature this is used to encrypt the documents and facilitates to authenticate them. Digital signature is a cryptographic fee that is calculated from the data and a mystery key recognized only by using the signer.
They are based on asymmetric-key cryptography where encryption is done with private key and decryption is completed with public key. It is used for Authentication and Non-repudiation.
While a file has a digital signature, it ensures the authenticity of a report and additionally uses encryption techniques to provide proof of unique and unmodified file. Digital signatures are used to sign variety of documents such as an email, online order or a watermarked photograph etc.
Creating Digital Signature is a very complex process and can be carried out with a computer only.

How digital signature works?
To understand how digital signature works, let us consider an example:
There is an e-commerce company from where you have purchased clothes. It has sent you a bill online and they have signed it with the digital signature.
                                                 Digital Signature


The first step will be generation of keys, the company or server will generate a private key which it will keep for itself and the other key known as public key will be sent to the user.
The company will encrypt the bill with the help of its key and user will decrypt it with the help of public key! This ensures that the bill comes from authentic company.
Isn’t this method a lot safer than manually signed documents!
Let us summarize the working:
1. When the option of signing the document is selected, through various mathematical algorithms a unique fingerprint (or hash) of the document is created. And if there is are changes made, the hash will change and we will be alerted.
2. We encrypt the hash using the signer’s private key. The hash which is encrypted and the signer’s public key are combined into a digital signature, which is appended to the document.
3. Now, we can use the document for distribution.
Quite amazing, isn’t it?</p>
                              <p>The Certificate Authority (CA) are trusted bodies that can issue digital certificates.
Users send request to CA for digital certificate. After the CA verifies the information of the user ,it send certificate to the user keeping a copy for itself.</p>
                              <div class="blog-social-share">
                                   <h4>Share this article</h4>
                                   <a href="https://www.facebook.com/theapproapp" class="btn btn-primary"><i class="fa fa-facebook"></i>facebook</a>
                                   <a href="#" class="btn btn-success"><i class="fa fa-twitter"></i>twitter</a>
                                   <a href="#" class="btn btn-danger"><i class="fa fa-google-plus"></i>google plus</a>
                              </div>
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>


      <!-- FOOTER -->
     <footer data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-5 col-sm-12">
                         <div class="footer-thumb footer-info"> 
                              <h2>ApproApp</h2>
                              <p>The ApproApp protocol is a special purpose decentralized digital signature protocol. This
protocol is intended to incentivize the signing of documents, approvals, and can be expanded to
include any type of shareable and confidential documents. Applications will receive tokens for
approving and exchanging data.</p>
                              
                         </div>
                    </div>

                    <div class="col-md-2 col-sm-4"> 
                         <div class="footer-thumb"> 
                              <h2>Company</h2>
                              <ul class="footer-link">
                                   <li><a href="#">About Us</a></li>
                                   <li><a href="https://manage.approapp.com/jobs">Join our team</a></li>
                                   <li><a href="#">Read Blog</a></li>
                                   <li><a href="#">Press</a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-2 col-sm-4"> 
                         <div class="footer-thumb"> 
                              <h2>Services</h2>
                              <ul class="footer-link">
                                   <li><a href="#">Pricing</a></li>
                                   <li><a href="#">Documentation</a></li>
                                   <li><a href="#">Support</a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-4"> 
                         <div class="footer-thumb"> 
                              <h2>Find us</h2>
                              <p>Thapar University, <br> Nabha Road, Patiala 147004 - IN</p>
                         </div>
                    </div>                    

                    <div class="col-md-12 col-sm-12">
                         <div class="footer-bottom">
                              <div class="col-md-6 col-sm-5">
                                   <div class="copyright-text"> 
                                        <p>Copyright &copy; 2017 ApproApp</p>
                                   </div>
                              </div>
                              <div class="col-md-6 col-sm-7">
                                   <div class="phone-contact"> 
                                        <p>Call us <span>(+91) 9870-132-133</span></p>
                                   </div>
                                   <ul class="social-icon">
                                        <li><a href="https://www.facebook.com/theapproapp" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                        <li><a href="https://www.twitter.com/theapproapp" class="fa fa-twitter"></a></li>
                                        <li><a href="https://www.linkedin.com/company/approapp1" class="fa fa-linkedin"></a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>
                    
               </div>
          </div>
     </footer>


     <!-- MODAL -->
     <section class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
               <div class="modal-content modal-popup">

                    <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                         </button>
                    </div>

                    <div class="modal-body">
                         <div class="container-fluid">
                              <div class="row">

                                   <div class="col-md-12 col-sm-12">
                                        <div class="modal-title">
                                             <h2>ApproApp</h2>
                                        </div>

                                        <!-- NAV TABS -->
                                        <ul class="nav nav-tabs" role="tablist">
                                             <li class="active"><a href="#sign_up" aria-controls="sign_up" role="tab" data-toggle="tab">Create an account</a></li>
                                             <li><a href="#sign_in" aria-controls="sign_in" role="tab" data-toggle="tab">Sign In</a></li>
                                        </ul>

                                        <!-- TAB PANES -->
                                        <div class="tab-content">
                                             <div role="tabpanel" class="tab-pane fade in active" id="sign_up">
                                                  <form action="#" method="post">
                                                       <input type="text" class="form-control" name="name" placeholder="Name" required>
                                                       <input type="telephone" class="form-control" name="telephone" placeholder="Telephone" required>
                                                       <input type="email" class="form-control" name="email" placeholder="Email" required>
                                                       <input type="password" class="form-control" name="password" placeholder="Password" required>
                                                       <input type="submit" class="form-control" name="submit" value="Submit Button">
                                                  </form>
                                             </div>

                                             <div role="tabpanel" class="tab-pane fade in" id="sign_in">
                                                  <form action="#" method="post">
                                                       <input type="email" class="form-control" name="email" placeholder="Email" required>
                                                       <input type="password" class="form-control" name="password" placeholder="Password" required>
                                                       <input type="submit" class="form-control" name="submit" value="Submit Button">
                                                       <a href="https://www.facebook.com/theapproapp">Forgot your password?</a>
                                                  </form>
                                             </div>
                                        </div>
                                   </div>

                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>

     <!-- SCRIPTS -->
     <script src="{% static "core/js/jquery.js" %}"></script>
     <script src="{% static "core/js/bootstrap.min.js" %}"></script>
     <script src="{% static "core/js/jquery.stellar.min.js" %}"></script>
     <script src="{% static "core/js/jquery.magnific-popup.min.js" %}"></script>
     <script src="{% static "core/js/smoothscroll.js" %}"></script>
     <script src="{% static "core/js/custom.js" %}"></script>

</body>
</html>