{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

     <title>ApproApp</title>
<!-- 
Hydro Template 
http://www.templatemo.com/tm-509-hydro
-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static "core/css/bootstrap.min.css" %}">
     <link rel="stylesheet" href="{% static "core/css/magnific-popup.css" %}">
     <link rel="stylesheet" href="{% static "core/css/font-awesome.min.css" %}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static "core/css/templatemo-style.css" %}">
     <link rel="shortcut icon" href="{% static "core/images/logo.ico" %}" />
</head>
<body>

 <!-- MENU -->
     {% include 'core/snippets/navbar.html' %}


     <!-- BLOG HEADER -->
     <section id="blog-header" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-5 col-sm-12">
                         <h2>7 benefits of Digital Signatures you didn’t knew!</h2>
                    </div>
                    
               </div>
          </div>
     </section>


     <!-- BLOG DETAIL -->
     <section id="blog-detail" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <!-- BLOG THUMB -->
                         <div class="blog-detail-thumb">
                              <div class="blog-image">
                                   <img src="{% static "core/images/blog2.jpg" %}" class="img-responsive" alt="Blog Image">
                              </div>
                              <h2>DIGITAL Signatures are Good</h2>
                              <p>We have now seen how Digital signatures works and but let us explore the benefits it brings to us:</p>

                              <blockquote>Digital certificates are small files on devices with file extension .cer mostly. It establishes the relationship between user and public. It is standardized by PKI. It is issued by some trusted party always.</blockquote>

                              <p>The Certificate Authority (CA) are trusted bodies that can issue digital certificates.</p>

                              <div class="blog-ads">
                                   <h4>Blog Sample Advertising</h4>
                              </div>
                              
                              <p>A digital certificate contains information such as:</p>


                              <ul>
                                       <li>1. Enhanced security: One of the most promising feature of digital signatures is that it enhances security. It uses identifying fingerprints which is unique to every document, which helps to detect whether the given document has been tampered or not. It also uses encryption verification technology which is called PKI which is very helpful in verifying the user by the signature.</li>
<li>2. The second benefit can be that the digital signatures are being accepted and used worldwide now. Many companies and are now exchanging documents through digital signatures. “The Electronic Signatures in Global and National Commerce Act of 2000” has been newest addition to the Digital Signatures.</li>
<li>3. The digital signatures cannot be touched or tampered by any third party and they are verified independently. Moreover, the process of getting a digital signature is not very complex and can be easily done.</li>
<li>4. The manually signed documents can be easily misplaced, damaged and stolen.</li>
Digital signatures are the new technology that would revolutionize the distribution of documents, there is no doubt why people think digital signatures is a good idea.
The manually signing of documents was also wasting a lot of papers, on the other hand, the digital signatures are ecofriendly and also it is more secure than the manually signed documents.
The manually signed documents pose a threat to theft and also can be very easily tampered.</li>
<li>5. They are easy to use ad require no rocket science to use them.</li>
<li>6. Even if the person is not present there, and there is an emergency for signing the document, Digital signatures provide a solution to it. The person can sign the document anywhere even with a mobile phone.</li>
<li>7. Finding documents between so many files are a very time-consuming task, but using digital documents, we can find it with just one click.</li>
                              </ul>
                              <p>The Certificate Authority (CA) are trusted bodies that can issue digital certificates.
Users send request to CA for digital certificate. After the CA verifies the information of the user ,it send certificate to the user keeping a copy for itself.</p>
                              <div class="blog-social-share">
                                   <h4>Share this article</h4>
                                   <a href="https://www.facebook.com/theapproapp" class="btn btn-primary"><i class="fa fa-facebook"></i>facebook</a>
                                   <a href="#" class="btn btn-success"><i class="fa fa-twitter"></i>twitter</a>
                                   <a href="#" class="btn btn-danger"><i class="fa fa-google-plus"></i>google plus</a>
                              </div>
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>


      {% include 'core/snippets/footer.html' %}

     <!-- MODAL -->
     <section class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
               <div class="modal-content modal-popup">

                    <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                         </button>
                    </div>

                    <div class="modal-body">
                         <div class="container-fluid">
                              <div class="row">

                                   <div class="col-md-12 col-sm-12">
                                        <div class="modal-title">
                                             <h2>ApproApp</h2>
                                        </div>

                                        <!-- NAV TABS -->
                                        <ul class="nav nav-tabs" role="tablist">
                                             <li class="active"><a href="#sign_up" aria-controls="sign_up" role="tab" data-toggle="tab">Create an account</a></li>
                                             <li><a href="#sign_in" aria-controls="sign_in" role="tab" data-toggle="tab">Sign In</a></li>
                                        </ul>

                                        <!-- TAB PANES -->
                                        <div class="tab-content">
                                             <div role="tabpanel" class="tab-pane fade in active" id="sign_up">
                                                  <form action="#" method="post">
                                                       <input type="text" class="form-control" name="name" placeholder="Name" required>
                                                       <input type="telephone" class="form-control" name="telephone" placeholder="Telephone" required>
                                                       <input type="email" class="form-control" name="email" placeholder="Email" required>
                                                       <input type="password" class="form-control" name="password" placeholder="Password" required>
                                                       <input type="submit" class="form-control" name="submit" value="Submit Button">
                                                  </form>
                                             </div>

                                             <div role="tabpanel" class="tab-pane fade in" id="sign_in">
                                                  <form action="#" method="post">
                                                       <input type="email" class="form-control" name="email" placeholder="Email" required>
                                                       <input type="password" class="form-control" name="password" placeholder="Password" required>
                                                       <input type="submit" class="form-control" name="submit" value="Submit Button">
                                                       <a href="https://www.facebook.com/theapproapp">Forgot your password?</a>
                                                  </form>
                                             </div>
                                        </div>
                                   </div>

                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>

     <!-- SCRIPTS -->
     <script src="{% static "core/js/jquery.js" %}"></script>
     <script src="{% static "core/js/bootstrap.min.js" %}"></script>
     <script src="{% static "core/js/jquery.stellar.min.js" %}"></script>
     <script src="{% static "core/js/jquery.magnific-popup.min.js" %}"></script>
     <script src="{% static "core/js/smoothscroll.js" %}"></script>
     <script src="{% static "core/js/custom.js" %}"></script>

</body>
</html>