{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>login</title>
 <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static "core/css/bootstrap.min.css" %}">
     <link rel="stylesheet" href="{% static "core/css/magnific-popup.css" %}">
     <link rel="stylesheet" href="{% static "core/css/font-awesome.min.css" %}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static "core/css/templatemo-style.css" %}">
     <link rel="shortcut icon" href="{% static "core/images/logo.ico" %}" />
</head>

<body>

     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="/" class="navbar-brand">ApproApp</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">

                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="https://fb.com/theapproapp"><i class="fa fa-facebook-square"></i></a></li>
                         <li><a href="https://twitter.com/theapproapp"><i class="fa fa-twitter"></i></a></li>
                         <li><a href="https://www.linkedin.com/company/approapp1"><i class="fa fa-linkedin"></i></a></li>
                         <li class="section-btn"><a href="/login" >Login</a></li>
                         <li class="section-btn"><a href="/register" >Register</a></li>
                    </ul>
               </div>

          </div>
     </section>

          <section id="home" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">


                    <div class="col-md-12 col-sm-12">
                         <div class="home-info">
                              <h1>Logged out.</h1>

                              <span>
                                  <small>you have logged out.</small>
                              </span>
                         </div>
                    </div>
               </div>
          </section>


{% include 'core/snippets/footer.html' %}

<!-- SCRIPTS -->
     <script src="{% static "core/js/jquery.js" %}"></script>
     <script src="{% static "core/js/bootstrap.min.js" %}"></script>
     <script src="{% static "core/js/jquery.stellar.min.js" %}"></script>
     <script src="{% static "core/js/jquery.magnific-popup.min.js" %}"></script>
     <script src="{% static "core/js/smoothscroll.js" %}"></script>
     <script src="{% static "core/js/custom.js" %}"></script>

</body>
</html>