{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

     <title>Profile</title>
<!--
Hydro Template
http://www.templatemo.com/tm-509-hydro
-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static "core/css/bootstrap.min.css" %}">
     <link rel="stylesheet" href="{% static "core/css/magnific-popup.css" %}">
     <link rel="stylesheet" href="{% static "core/css/font-awesome.min.css" %}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static "core/css/templatemo-style.css" %}">
     <link rel="shortcut icon" href="{% static "core/images/logo.ico" %}" />
</head>
<body>

 <!-- MENU -->
     {% include 'core/snippets/navbar.html' %}
      <!-- HOME -->
     <section id="home" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="home-info">
                              <h1>profile</h1>
                              <h2>username:{{ user.user}}</h2>
                              <h2>firstname:{{ user.user.first_name }}</h2>
                              <h2>lastname:{{ user.user.last_name }}</h2>
                              <h2>email:{{ user.user.email }}</h2>
                              <h2>oid:{{ user.oid }}</h2>
                              <h2>rio:{{ user.rio }}</h2>
                         </div>
                    </div>

               </div>
          </div>
     </section>

{% include 'core/snippets/footer.html' %}


 <!-- SCRIPTS -->
     <script src="{% static "core/js/jquery.js" %}"></script>
     <script src="{% static "core/js/bootstrap.min.js" %}"></script>
     <script src="{% static "core/js/jquery.stellar.min.js" %}"></script>
     <script src="{% static "core/js/jquery.magnific-popup.min.js" %}"></script>
     <script src="{% static "core/js/smoothscroll.js" %}"></script>
     <script src="{% static "core/js/custom.js" %}"></script>

</body>
</html>
