{% load i18n static %}
<!DOCTYPE html>
<html lang="en"{% block html-attributes %}{% endblock html-attributes %}>
  <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static "core/css/bootstrap.min.css" %}">
     <link rel="stylesheet" href="{% static "core/css/magnific-popup.css" %}">
     <link rel="stylesheet" href="{% static "core/css/font-awesome.min.css" %}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static "core/css/templatemo-style.css" %}">
     <link rel="shortcut icon" href="{% static "core/images/logo.ico" %}" />

    <title>ApproApp | Verification</title>
</head>
<body>

{% include 'core/snippets/navbar.html' %}
<section id="blog-header" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
          </div>
     </section>

<section id="blog-detail" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <!-- BLOG THUMB -->
                         <div class="blog-detail-thumb">
                              <div class="blog-image">
                                   <h1>Application Verification Portal</h1>

Give Unique Application ID to find the status.<br/>
<br/>
<form action="/verify" method="GET" value="{{request.GET.q}}">
10 digit Application ID <input type="text" name="q" value="{{request.GET.q}}" placeholder="**********"/>
<input type="submit" name="submit" value="Search"/>
</form><br><br>


{% if submitbutton == 'Search' and request.GET.q != '' %}
{% if results %}
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-12">
        <!-- Form element plugins -->
        <div>
          <h2 id="form_elements">Application Status</h2>
        </div>

                {% for result in results %}
                    <p>{{ result.form_entry.name }}</p>
                    <div>{{ result.formatted_saved_data|safe }}</div>
                    {% if result.approved %}
                        <p style="color: green">Approval status :Approved</p>
                    {% elif result.disapproved %}
                        <p style="color: red">Approval status : Not approved</p>
                    {% else %}
                        <h4 style="color: orange">Approval status : Waiting</h4>
                        <a href=""></a>
                    {% endif %}
                {% endfor %}
    </div>
    </div>
{% else %}
No search results for this query
{% endif %}
{% endif %}
                              </div>
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>


{% include 'core/snippets/footer.html' %}
     <!-- SCRIPTS -->
     <script src="{% static "core/js/jquery.js" %}"></script>
     <script src="{% static "core/js/bootstrap.min.js" %}"></script>
     <script src="{% static "core/js/jquery.stellar.min.js" %}"></script>
     <script src="{% static "core/js/jquery.magnific-popup.min.js" %}"></script>
     <script src="{% static "core/js/smoothscroll.js" %}"></script>
     <script src="{% static "core/js/custom.js" %}"></script>
</body>
</html>
