{% load i18n static %}
<!DOCTYPE html>
<html lang="en"{% block html-attributes %}{% endblock html-attributes %}>
  <head>
    <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static "core/css/bootstrap.min.css" %}">
     <link rel="stylesheet" href="{% static "core/css/magnific-popup.css" %}">
     <link rel="stylesheet" href="{% static "core/css/font-awesome.min.css" %}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static "core/css/templatemo-style.css" %}">
     <link rel="shortcut icon" href="{% static "core/images/logo.ico" %}" />

    {% block favicon %}
    <link rel="shortcut icon" href="{% block favicon-image %}{% endblock favicon-image %}">
    {% endblock favicon %}

    <title>{% block page-title %}{% endblock page-title %} | {% block site-title %}{% endblock site-title %}</title>

    {% block stylesheets %}
    {#<!-- Additional core CSS files that somehow can't be put into the python theme -->#}
    {% endblock stylesheets %}

    {% block theme-stylesheets %}
    {#<!-- This is where stylesheets declared in the Python theme are listed -->#}

    {% for css in fobi_theme.get_media_css %}
    <link href="{{ css }}" rel="stylesheet" media="all" />
    {% endfor %}

    {% endblock theme-stylesheets %}

    {% block extra-stylesheets %}{% endblock extra-stylesheets %}

    {% block head-javascripts %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% endblock head-javascripts %}

    {% block extra-head-javascripts %}{% endblock extra-head-javascripts %}

    {% block extrahead %}{% endblock extrahead %}
  </head>

  <body>
  
  {% include 'core/snippets/navbar_fobi.html' %}
  <section id="blog-header" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
          </div>
     </section>
  {% block main-wrapper %}
       
    {% block main-content-wrapper %}
    <div class="container">
      {% block messages-wrapper %}
          {% include fobi_theme.messages_snippet_template_name %}
      {% endblock messages-wrapper %}
      {% block main-content %}
      <div class="row row-offcanvas row-offcanvas-right">

        <div{#% block main-content-inner-attrs %#} class="col-xs-12 col-sm-9"{#% endblock main-content-inner-attrs %#}>
          {% block responsive-nav %}
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          {% endblock responsive-nav %}

          {% block content-wrapper %}
          <div class="row">
            <div class="{% block content-class %}col-lg-12{% endblock content-class %}">
            {% block content %}
              <!--
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
              -->
            {% endblock content %}
            </div><!--/span-->
          </div><!--/row-->
          {% endblock content-wrapper %}
        </div><!--/span-->

        {% block sidebar-wrapper %}
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          {% block sidebar %}
          <div class="list-group">
            {% block sidebar-content %}
            <!--
            <a href="#" class="list-group-item active">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            -->
            {% endblock sidebar-content %}
          </div>
        {% endblock sidebar %}
        </div><!--/span-->
        {% endblock sidebar-wrapper %}
      </div><!--/row-->
      {% endblock main-content %}

      {% block content-footer-separator %}
      <hr>
      {% endblock content-footer-separator %}


    </div><!--/.container-->
    {% endblock main-content-wrapper %}

  {% endblock main-wrapper %}

  {% block javascripts %}
    {#<!-- Theme core JavaScript that somehow can't be put into the Python theme -->#}
    {#<!-- Placed at the end of the document so the pages load faster, although might be changed, if plugins need it to be otherwise -->#}
  {% endblock javascripts %}

  {% block theme-javascripts %}
    {#<!-- This is where javascripts declared in the Python theme are listed -->#}
    {% for js in fobi_theme.get_media_js %}
    <script src="{{ js }}"></script>
    {% endfor %}
  {% endblock theme-javascripts %}

    <!-- FOOTER -->
     <footer data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-5 col-sm-12">
                         <div class="footer-thumb footer-info">
                              <h2>ApproApp</h2>
                              <p>The ApproApp protocol is a special purpose decentralized digital signature protocol. This
protocol is intended to incentivize the signing of documents, approvals, and can be expanded to
include any type of shareable and confidential documents. Applications will receive tokens for
approving and exchanging data.</p>

                         </div>
                    </div>

                    <div class="col-md-2 col-sm-4">
                         <div class="footer-thumb">
                              <h2>Company</h2>
                              <ul class="footer-link">
                                   <li><a href="#">About Us</a></li>
                                   <li><a href="#">Join our team</a></li>
                                   <li><a href="#">Read Blog</a></li>
                                   <li><a href="#">Press</a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-2 col-sm-4">
                         <div class="footer-thumb">
                              <h2>Services</h2>
                              <ul class="footer-link">
                                   <li><a href="#">Pricing</a></li>
                                   <li><a href="#">Documentation</a></li>
                                   <li><a href="#">Support</a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                         <div class="footer-thumb">
                              <h2>Find us</h2>
                              <p>Thapar University, <br> Nabha Road, Patiala 147004 - IN</p>
                         </div>
                    </div>

                    <div class="col-md-12 col-sm-12">
                         <div class="footer-bottom">
                              <div class="col-md-6 col-sm-5">
                                   <div class="copyright-text">
                                        <p>Copyright &copy; 2017 ApproApp</p>
                                   </div>
                              </div>
                              <div class="col-md-6 col-sm-7">
                                   <div class="phone-contact">
                                        <p>Call us <span>(+91) 9870-132-133</span></p>
                                   </div>
                                   <ul class="social-icon">
                                        <li><a href="https://www.facebook.com/theapproapp" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                        <li><a href="https://www.twitter.com/theapproapp" class="fa fa-twitter"></a></li>
                                        <li><a href="https://www.linkedin.com/company/approapp1" class="fa fa-linkedin"></a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </footer>



       <!-- SCRIPTS -->
    <script src='{% static "/js/jquery-1.10.2.min.js" %}'></script>
    
    <script src='{% static "/jquery-ui/js/jquery-ui-1.10.4.custom.min.js" %}'></script>
    
    <script src="{% static "/bootstrap3/js/bootstrap.min.js" %}"></script>
    
    <script src="{% static "/js/jquery.slugify.js" %}"></script>
    
    <script src="{% static "/js/fobi.core.js" %}"></script>
    
    <script src="{% static "/bootstrap3/js/bootstrap3_fobi_extras.js" %}"></script>
    
    <script src="{% static "/js/moment-with-locales.js" %}"></script>
    
    <script src="{% static "/bootstrap3/js/bootstrap-datetimepicker.min.js" %}"></script>
    
    <script src="{% static "/bootstrap3/js/fobi.plugin.date-bootstrap3-widget.js" %}"></script>

     <script src="{% static "core/js/jquery.js" %}"></script>
     <script src="{% static "core/js/bootstrap.min.js" %}"></script>
     <script src="{% static "core/js/jquery.stellar.min.js" %}"></script>
     <script src="{% static "core/js/jquery.magnific-popup.min.js" %}"></script>
     <script src="{% static "core/js/smoothscroll.js" %}"></script>
     <script src="{% static "core/js/custom.js" %}"></script>
  </body>
</html>
