{% extends fobi_theme.base_view_template %}
{% block content %}
<body>
    <h2>List of Organisations</h2>
    {% for i in org %}
    <a href="{% url 'form_list' i %}">{{ i }}</a></br>
    <a href="/fobi/formlist/1/">Thapar University, Patiala</a></br>
    <a href="/fobi/formlist/1/">Chitkara, Rajpura</a></br>
    <a href="/fobi/formlist/1/">CuCHD, Chandigarh</a></br>
    <a href="/fobi/formlist/1/">Natianal Education Trust, Pune</a></br>
    <a href="/fobi/formlist/1/">Colinkers Events Management, Patiala</a></br>
    <a href="/fobi/formlist/1/">Thapar University, Patiala</a></br>
    <a href="/fobi/formlist/1/">Chitkara, Rajpura</a></br>
    <a href="/fobi/formlist/1/">CuCHD, Chandigarh</a></br>
    <a href="/fobi/formlist/1/">Natianal Education Trust, Pune</a></br>
    <a href="/fobi/formlist/1/">Colinkers Events Management, Patiala</a></br>
        <br>
    {% endfor %}
</body>
{% endblock %}
