{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

     <title>ApproApp</title>
<!-- 
Hydro Template 
http://www.templatemo.com/tm-509-hydro
-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static "core/css/bootstrap.min.css" %}">
     <link rel="stylesheet" href="{% static "core/css/magnific-popup.css" %}">
     <link rel="stylesheet" href="{% static "core/css/font-awesome.min.css" %}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static "core/css/templatemo-style.css" %}">
     <link rel="shortcut icon" href="{% static "core/images/logo.ico" %}" />
</head>
<body>


{% include 'core/snippets/navbar.html' %}
<section id="blog-header" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
          </div>
     </section>
<section id="blog-detail" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <!-- BLOG THUMB -->
                         <div class="blog-detail-thumb">
                              <div class="blog-image">
                                <div class="col-md-12 col-sm-12 mx-auto">
                         <div class="section-title text-center">
                             <p></p>
                             <p></p>
                              <h2>Register Your Tickets Here!</h2>
                              <span class="line-bar">...</span>
                         </div>
                    </div>
                    {% block content %}

                         <!-- Login FORM HERE -->
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
                                   
                              </div>
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>

     {% endblock %}

      {% include 'core/snippets/footer.html' %}
     <!-- MODAL -->
     <section class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
               <div class="modal-content modal-popup">

                    <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                         </button>
                    </div>

                    <div class="modal-body">
                         <div class="container-fluid">
                              <div class="row">

                                   <div class="col-md-12 col-sm-12">
                                        <div class="modal-title">
                                             <h2>ApproApp</h2>
                                        </div>

                                        <!-- NAV TABS -->
                                        <ul class="nav nav-tabs" role="tablist">
                                             <li class="active"><a href="#sign_up" aria-controls="sign_up" role="tab" data-toggle="tab">Create an account</a></li>
                                             <li><a href="#sign_in" aria-controls="sign_in" role="tab" data-toggle="tab">Sign In</a></li>
                                        </ul>

                                        <!-- TAB PANES -->
                                        <div class="tab-content">
                                             <div role="tabpanel" class="tab-pane fade in active" id="sign_up">
                                                  <form action="#" method="post">
                                                       <input type="text" class="form-control" name="name" placeholder="Name" required>
                                                       <input type="telephone" class="form-control" name="telephone" placeholder="Telephone" required>
                                                       <input type="email" class="form-control" name="email" placeholder="Email" required>
                                                       <input type="password" class="form-control" name="password" placeholder="Password" required>
                                                       <input type="submit" class="form-control" name="submit" value="Submit Button">
                                                  </form>
                                             </div>

                                             <div role="tabpanel" class="tab-pane fade in" id="sign_in">
                                                  <form action="#" method="post">
                                                       <input type="email" class="form-control" name="email" placeholder="Email" required>
                                                       <input type="password" class="form-control" name="password" placeholder="Password" required>
                                                       <input type="submit" class="form-control" name="submit" value="Submit Button">
                                                       <a href="https://www.facebook.com/theapproapp">Forgot your password?</a>
                                                  </form>
                                             </div>
                                        </div>
                                   </div>

                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>

     <!-- SCRIPTS -->
     <script src="{% static "core/js/jquery.js" %}"></script>
     <script src="{% static "core/js/bootstrap.min.js" %}"></script>
     <script src="{% static "core/js/jquery.stellar.min.js" %}"></script>
     <script src="{% static "core/js/jquery.magnific-popup.min.js" %}"></script>
     <script src="{% static "core/js/smoothscroll.js" %}"></script>
     <script src="{% static "core/js/custom.js" %}"></script>

</body>
</html>
