{% extends 'base.html' %}

{% block body %}
<div class="jumbotron">
    <h2><center>Register</center></h2>
    {% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
    {% endif %}
    <div class="container">
        <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-login">
                        <div class="panel-body">
						    <div class="row">
							    <div class="col-lg-12">
                                    <form method="post">
                                        <div class="form-group">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                {{ form.username }}
                                            </div>
                                             <div class="form-group">
                                                {{ form.first_name }}
                                            </div>
                                             <div class="form-group">
                                                {{ form.last_name }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.email }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.organisation_id }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.role_in_organisation }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.password1 }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.password2 }}
                                            </div>
                           	                    <div class="row">
											        <div class="col-sm-6 col-sm-offset-3">
												        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                                    </div>
                                                </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}
